<!-- Inherited from ProcessNetDraw -->

<div class="drawing-area-container">
    <svg
        #drawingArea
        class="drawing-canvas"
        data-export-id="reachability-graph-draw"
        [attr.viewBox]="viewBox()"
        preserveAspectRatio="xMidYMid meet"
        (mousedown)="($event.target === drawingArea || $event.target === gridRect) && startPan($event)"
        (mousemove)="pan($event)"
        (mouseup)="endPan()"
        (mouseleave)="endPan()"
        (wheel)="onWheel($event)">
        <!-- Grid background for better visual reference -->
        <pattern id="grid" width="50" height="50" patternUnits="userSpaceOnUse">
            <path d="M 50 0 L 0 0 0 50" fill="none" stroke="lightgray" stroke-width="0.5" />
        </pattern>
        <rect
            #gridRect
            [attr.x]="viewBoxObj().minX"
            [attr.y]="viewBoxObj().minY"
            [attr.width]="viewBoxObj().width"
            [attr.height]="viewBoxObj().height"
            fill="url(#grid)" />

        <defs>
            <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="9" refY="3.5" orient="auto">
                <polygon points="0 0, 10 3.5, 0 7" fill="black" />
            </marker>
        </defs>
        @for (edge of reachabilityGraphDiagram().getEdges(); track edge.id) {
            <g appSvgArc [diagramArc]="edge" [nodes]="reachabilityGraphDiagram().getNodes() || []" />
        }

        @for (node of reachabilityGraphDiagram().getNodes(); track node.id) {
            <g appSvgNode [diagramNode]="node" (stateNodeClick)="stateNodeClicked(node)" />
        }
    </svg>
    <app-draw-toolbar
        [headerTitle]="'PROCESS_NET.DRAWING_AREA_HEADER'"
        [helpTooltip]="'PROCESS_NET.HELP_TOOLTIP'"
        [actions]="toolbarActions()"
        [instructions]="toolbarInstructions()" />
</div>
