<div class="editor-container">
    <div class="mode-sidebar">
        <app-mode-toggle></app-mode-toggle>
    </div>
    <mat-tab-group class="flex-tab-group" [selectedIndex]="selectedIndex" (selectedTabChange)="onTabChange($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">edit</mat-icon>
                {{ 'TAB_DRAW' | translate }}
            </ng-template>
            <app-draw></app-draw>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">play_arrow</mat-icon>
                {{ 'TAB_PLAY' | translate }}
            </ng-template>
            <app-play></app-play>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">account_tree</mat-icon>
                {{ 'TAB_REACHABILITY' | translate }}
            </ng-template>
            <app-reachability-graph></app-reachability-graph>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">timeline</mat-icon>
                {{ 'TAB_PROCESS' | translate }}
            </ng-template>
            <app-process-net></app-process-net>
        </mat-tab>
    </mat-tab-group>
    <div class="action-sidebar">
        <app-upload></app-upload>
        <app-tuple-input-button></app-tuple-input-button>
        <app-save></app-save>
        <app-clear-net-button></app-clear-net-button>
        <app-layout-button></app-layout-button>
        <div class="divider-horizontal"></div>
        <app-example-menu></app-example-menu>
        <app-language-button></app-language-button>
    </div>
</div>
