<div class="slider-container">
    <mat-icon class="info-icon" [matTooltip]="'MODE_INFO_TOOLTIP' | translate">info</mat-icon>
    <span class="mode-label top-label" [class.visible]="isExamActive">{{ 'EXAM_MODE' | translate }}</span>
    <mat-icon
        svgIcon="spicy-taco"
        class="mode-icon spicy-icon"
        [class.active]="isExamActive"
        [matTooltip]="'EXAM_MODE' | translate"></mat-icon>
    <div class="vertical-slider-wrapper">
        <mat-slider min="0" max="1" step="0.05" discrete="false" class="vertical-slider">
            <input
                matSliderThumb
                [(ngModel)]="sliderValue"
                (change)="onSliderChange()"
                [attr.aria-label]="modeText() | translate" />
        </mat-slider>
    </div>
    <mat-icon
        svgIcon="taco"
        class="mode-icon"
        [class.active]="!isExamActive"
        [matTooltip]="'LEARNING_MODE' | translate"></mat-icon>
    <span class="mode-label bottom-label" [class.visible]="!isExamActive">{{ 'LEARNING_MODE' | translate }}</span>
</div>
