<div class="toast-content">
    <mat-icon class="toast-icon">{{ iconName }}</mat-icon>

    <div class="text-content">
        <div class="heading">{{ data.heading | translate: data.headingParams }}</div>
        <div class="message">{{ data.message | translate: data.messageParams }}</div>
        @if (data.list && data.list.length > 0) {
            <ul class="toast-list">
                @for (item of data.list; track item) {
                    <li>{{ item.message | translate: item.messageParams }}</li>
                }
            </ul>
        }
        @if (data.actions) {
            <div class="toast-actions">
                <button mat-button class="toast-action-btn dismiss-btn" (click)="onDismissAction()">
                    {{ data.actions.dismiss.label | translate }}
                </button>
                <button mat-button class="toast-action-btn accept-btn" (click)="onAcceptAction()">
                    {{ data.actions.accept.label | translate }}
                </button>
            </div>
        }
    </div>

    <button class="close-button" (click)="closeToast()">
        <mat-icon>close</mat-icon>
    </button>
</div>
