<button
    mat-icon-button
    [matTooltip]="'SAVE_AS' | translate"
    [matMenuTriggerFor]="saveMenu"
    color="primary"
    [disabled]="isDisabled()">
    <mat-icon>save_alt</mat-icon>
</button>
<mat-menu #saveMenu="matMenu">
    <button mat-menu-item (click)="onSave('json')">
        <mat-icon class="icon-json">data_object</mat-icon>
        <span>{{ 'SAVE_AS_JSON' | translate }}</span>
    </button>
    <button mat-menu-item (click)="onSave('pnml')">
        <mat-icon class="icon-pnml">account_tree</mat-icon>
        <span>{{ 'SAVE_AS_PNML' | translate }}</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="pngMenu">
        <mat-icon class="icon-png">image</mat-icon>
        <span>{{ 'SAVE_AS_PNG' | translate }}</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="jpegMenu">
        <mat-icon class="icon-jpeg">broken_image</mat-icon>
        <span>{{ 'SAVE_AS_JPEG' | translate }}</span>
    </button>
</mat-menu>

<!-- PNG Submenu -->
<mat-menu #pngMenu="matMenu">
    <button mat-menu-item (click)="onGraphExport(GRAPH_IDS.PETRI_NET, 'png')">
        <mat-icon>account_tree</mat-icon>
        <span>{{ 'EXPORT_PETRI_NET' | translate }}</span>
    </button>
    <button
        mat-menu-item
        (click)="onGraphExport(GRAPH_IDS.REACHABILITY, 'png')"
        [disabled]="!isGraphAvailable(GRAPH_IDS.REACHABILITY)">
        <mat-icon>share</mat-icon>
        <span>{{ 'EXPORT_REACHABILITY_GRAPH' | translate }}</span>
    </button>
    <button
        mat-menu-item
        (click)="onGraphExport(GRAPH_IDS.PROCESS_NET, 'png')"
        [disabled]="!isGraphAvailable(GRAPH_IDS.PROCESS_NET)">
        <mat-icon>hub</mat-icon>
        <span>{{ 'EXPORT_PROCESS_NET' | translate }}</span>
    </button>
</mat-menu>

<!-- JPEG Submenu -->
<mat-menu #jpegMenu="matMenu">
    <button mat-menu-item (click)="onGraphExport(GRAPH_IDS.PETRI_NET, 'jpeg')">
        <mat-icon>account_tree</mat-icon>
        <span>{{ 'EXPORT_PETRI_NET' | translate }}</span>
    </button>
    <button
        mat-menu-item
        (click)="onGraphExport(GRAPH_IDS.REACHABILITY, 'jpeg')"
        [disabled]="!isGraphAvailable(GRAPH_IDS.REACHABILITY)">
        <mat-icon>share</mat-icon>
        <span>{{ 'EXPORT_REACHABILITY_GRAPH' | translate }}</span>
    </button>
    <button
        mat-menu-item
        (click)="onGraphExport(GRAPH_IDS.PROCESS_NET, 'jpeg')"
        [disabled]="!isGraphAvailable(GRAPH_IDS.PROCESS_NET)">
        <mat-icon>hub</mat-icon>
        <span>{{ 'EXPORT_PROCESS_NET' | translate }}</span>
    </button>
</mat-menu>
