<svg
    #drawingArea
    class="canvas"
    [attr.viewBox]="viewBox()"
    preserveAspectRatio="xMidYMid meet"
    (drop)="processDropEvent($event)"
    (dragover)="prevent($event)"
    (mousedown)="$event.target === drawingArea && startPan($event)"
    (mousemove)="pan($event)"
    (mouseup)="endPan()"
    (mouseleave)="endPan()"
    (wheel)="onWheel($event)">
    <defs>
        <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="9" refY="3.5" orient="auto">
            <polygon points="0 0, 10 3.5, 0 7" fill="black" />
        </marker>
    </defs>

    @for (arc of diagram()?.getEdges(); track arc.id) {
        <g appSvgArc [diagramArc]="arc" [nodes]="diagram()?.getNodes() || []" />
    }

    @for (node of diagram()?.getNodes(); track node.id) {
        <g
            appSvgNode
            [diagramNode]="node"
            (mousedown)="onNodeMouseDown($event, node)"
            style="cursor: grab"
            [showInnerLabel]="true"
            [transitionLabelPlacement]="'inside'" />
    }
</svg>
