<h2 mat-dialog-title>{{ data.title | translate }}</h2>
<mat-dialog-content>
    <p>{{ data.message | translate }}</p>
    <div class="marking-container">
        @for (item of currentDialogMarking | keyvalue; track item.key) {
            <div class="marking-entry">
                <span>{{ item.key }}: {{ item.value }}</span>
                <div class="button-container">
                    <button
                        mat-icon-button
                        (click)="incrementMarking(currentDialogMarking, item.key)"
                        class="marking-button">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        (click)="decrementMarking(currentDialogMarking, item.key)"
                        class="marking-button">
                        <!-- [disabled]="isDisabled(item.value)" -->
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
            </div>
        }
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="warn" (click)="discard()">{{ 'RGMARKING_DIALOG.AUTOFILL' | translate }}</button>
    <button mat-flat-button color="primary" (click)="keep()">{{ 'RGMARKING_DIALOG.USERVALUE' | translate }}</button>
</mat-dialog-actions>
