.node-label {
    font-size: 14px;
    font-family: sans-serif;
    user-select: none;
    pointer-events: none;
}

.node-label-descriptive {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    user-select: none;
    pointer-events: all;
    cursor: pointer;
}
