@if (viewMode() === VIEW_MODES.SIMPLE) {
    <svg:circle
        xmlns:svg="http://www.w3.org/2000/svg"
        [attr.cx]="x()"
        [attr.cy]="y()"
        [attr.r]="RADIUS"
        [attr.fill]="fillColor()"
        stroke="black"
        stroke-width="1"
        (click)="onClick()"
        style="cursor: pointer" />
} @else {
    <svg:text
        xmlns:svg="http://www.w3.org/2000/svg"
        [attr.x]="x()"
        [attr.y]="y()"
        text-anchor="middle"
        dominant-baseline="central"
        class="node-label-descriptive"
        [attr.fill]="fillColor()"
        (click)="onClick()">
        {{ label() }}
    </svg:text>
}

@if (isStartingState()) {
    <!-- Arrow pointing from the top-left -->
    <svg:line
        xmlns:svg="http://www.w3.org/2000/svg"
        [attr.x1]="arrowLineStart().x"
        [attr.y1]="arrowLineStart().y"
        [attr.x2]="arrowLineEnd().x"
        [attr.y2]="arrowLineEnd().y"
        stroke="black"
        stroke-width="2" />
    <svg:polygon
        xmlns:svg="http://www.w3.org/2000/svg"
        [attr.points]="
            arrowTip().x +
            ',' +
            arrowTip().y +
            ' ' +
            (arrowTip().x - 8) +
            ',' +
            (arrowTip().y - 3) +
            ' ' +
            (arrowTip().x - 3) +
            ',' +
            (arrowTip().y - 8)
        "
        fill="black" />
}
