/* Styles inherited from DisplayComponent */
.canvas {
    width: 100%;
    height: 600px; /* Align height with drawing canvas */
    border: 1px dashed lightgrey; /* subtler border */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: #fcfcfc;
}

:host {
    display: block;
}

.display-wrapper {
    position: relative;
    width: 100%;
}

.disabled-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.1);
}

.canvas.disabled-look {
    opacity: 0.5;
    filter: grayscale(50%);
}
