<div class="pn-toolbar">
    <mat-expansion-panel class="pn-help-panel">
        <mat-expansion-panel-header class="pn-help-header">
            <div class="pn-help-header-title">
                <mat-icon [matTooltip]="helpTooltip() | translate" color="primary">help_outline</mat-icon>
                <mat-panel-title>{{ headerTitle() | translate }}</mat-panel-title>
            </div>
            @if (toggle(); as toggleConfig) {
                <div
                    class="pn-toggle-container"
                    [matTooltip]="toggleConfig.tooltip | translate"
                    (click)="$event.stopPropagation()"
                    tabindex="0">
                    <span class="pn-toggle-label">{{ toggleConfig.label | translate }}</span>
                    <label class="pn-toggle-switch">
                        <input
                            type="checkbox"
                            [checked]="toggleConfig.checked"
                            (change)="toggleConfig.onChange($any($event.target).checked)" />
                        <span class="pn-toggle-slider"></span>
                    </label>
                </div>
            }
            @for (action of actions(); track action.tooltip) {
                <button
                    matIconButton
                    [disabled]="!action.isActive"
                    [color]="action.color ?? 'primary'"
                    [matTooltip]="action.tooltip | translate"
                    (click)="action.action(); $event.stopPropagation()">
                    <mat-icon>{{ action.icon }}</mat-icon>
                </button>
            }
        </mat-expansion-panel-header>
        <div class="pn-help-content">
            @for (instruction of instructions(); track instruction.label) {
                <div class="pn-help-item">
                    <span class="pn-help-label">{{ instruction.label | translate }}:</span>
                    <span class="pn-help-text">{{ instruction.text | translate }}</span>
                </div>
            }
        </div>
    </mat-expansion-panel>
</div>
